/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}


/* START NAV */
.nav {
	background: #003366;
}

.nav .lineNav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

.lineNav .item {
	color: #fff;
    font-size: 1.8rem;
	padding: 10px 0px;
    vertical-align: middle;
}

.whats-online {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.whats-online .item.online {
	margin: 0px 10px;
}

.whats-online .whatsApp {
	padding: 10px 10px!important;
}

.whats-online .online {
	padding: 10px 10px!important;
}
.item.whatsApp {
	background: #2ba531;
	border-radius: 30px;
	font-weight: bold;
}

.item.online {
	background: #00b29c;
	border-radius: 30px;
	margin-top: 10px;
	font-weight: bold;
}
/* END NAV */


/* START MENU-LOGO */
.logo-menu {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.logo {
    font-size: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0px;
}

.menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu li {
	display: inline-block;
	list-style: none;
	padding: 0px 10px;
}

.menu li a {
    color: black;
	font-weight: bold;
	padding: 10px 12px;
	font-size: 2rem;
}
/* END MENU-LOGO */

/* START SLIDE */
.slide{
    font-size: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background: chocolate;
}
/* END START */


/* START WELCOME */
.welcome {
	width: 60%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.welcome>div {
	margin: 50px 0px;
}

.welcome .message {
	width: 600px;
}

.welcome .message .title {
    font-size: 7rem;
	color: #550702;
}

.welcome .message .title::first-line {
	color: #003366;
}

.welcome .message .linha {
	height: 4px;
	background: #dbdbdb;
	width: 100%;
	margin: 20px 0px 0px;
	position: relative;
}

.welcome .message .linha .bar {
	width: 80px;
	height: 100%;
	background: #550702;
	position: relative;
}


.welcome .message .texto {
	font: 20px/25px 'calibri';
	text-shadow: 0px 0px 1px #eee;
	color: #b1b1b1;
	margin: 20px 0px;
}

.welcome .message .know-more {
	padding: 18px 47px;
	background: #550702;
	color: #fff;
	font: 20px 'calibri';
	display: table;
	transition: all 0.5s;
	border-radius: 8px;
}

.welcome .img {
    background: darkolivegreen;
	width: 450px;
	height: 370px;
	display: flex;
	position: relative;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
/* END WELCOME */


/* START SERVICES */
.services {
	background: #002d5a;
}

.serviceLine {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.serviceLine .item {
	margin: 20px 0px;
	width: 350px;
	border: 2px solid rgba(209, 209, 209, 0.13);
	padding: 15px 10px;
	text-align: center;
	border-radius: 15px;
}

.serviceLine .item .img {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: chartreuse;
	width: 100%;
	height: 160px;
}

.serviceLine .item .title {
	font-size: 2.8rem;
	color: #fff;
	margin: 40px 0px;
}

.serviceLine .item .content {
    font-size: 2rem;
	color: #fff;
	margin: 40px 0px;
}

.serviceLine .entrar {
	padding: 20px 70px;
	background: #72120B;
	margin: 0 auto;
	color: #fff;
	font-size: 2rem;
	display: table;
	transition: all 0.5s;
	border-radius: 8px;
}
/* END SERVICES */
